{% extends 'base.html' %}

{% block title %}Guest Book{% endblock %}

{% block navbar %}
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_book' %}">Create Book</a>
    <span style="color: white; margin-top: 5px; margin-left: 16px">|</span>
{% endblock %}

{% block content_2 %}
    <h1 style="margin-top: 30px">Гостевая Книга</h1>
    {% for b in book %}
        <div class="row" style="margin-top: 40px; max-width: 1010px">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card" style="border: solid 2px; padding-bottom: 40px; border-radius: 10px">
                    <div class="card-body">
                        <h5 class="card-title">{{ b.author_name }} ({{ b.author_gmail }})
                            <span>
                            <a href="{% url 'change_book' b.pk %}" style="font-size: 27px; color: black"><i class="bi bi-file-font"></i></a>
                            <a href="" style="font-size: 27px; color: black"><i class="bi bi-file-excel"></i></a>
                            </span>
                        </h5>
                        <p class="card-text">{{ b.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}